<div class="loader" *ngIf="loaderService.loaderState$ | async">
  <app-loaders></app-loaders>
</div>
<div class="maincontainer">
  <div class="registration-container">
    <form>
      <div class="heading">
        <p>{{"Reset Password" | translate}}</p>
      </div>
      <div class="form-group" *ngIf="!isConfirmed">
        <label for="email">{{"Email address" | translate}}</label>
        <input type="email" name="email" required placeholder="Enter your email" [(ngModel)]="user.email" />
      </div>

      <div *ngIf="!isConfirmed">
        <button class="register" (click)="resetPassword()" type="button">
          {{"Send Code" | translate}}
        </button>
      </div>

      <div *ngIf="isConfirmed">
        <div class="verify-group">
          <label for="password">{{"Verification Code" | translate}}</label>
          <input name="code" [(ngModel)]="user.code" required placeholder="Enter your password" />
        </div>
        <div class="form-group" *ngIf="isConfirmed">
          <label for="password">{{"New Password" | translate}}</label>
          <input type="password" name="password" required placeholder="Enter your password"
            [(ngModel)]="user.password" />
        </div>
        <div *ngIf="isConfirmed">
          <button class="register" (click)="confirmResetPassword()" type="button">
            {{"Reset Password" | translate}}
          </button>
        </div>
      </div>
    </form>
    <div class="bottom">
      <p class="alreadymem">
        {{"Already a member?" | translate}}<a routerLink="/login" class="login">{{"Login" | translate}}</a>
      </p>
    </div>
  </div>
  <div class="image-container">
    <img src="assets/register.jpg" />
  </div>
</div>