<section>
    <div class="hero-about-part">
        <div class="bgImage">
            <img src="../../../assets/bg-image-show-blog.png" alt="image">
            <div class="image-overlay"></div>
        </div>
        <div class="heading about-title">
            {{'About Us'|translate}}
        </div>
        <div class="sub-heading">
            {{'DishDiscovery: Your ultimate recipe haven. Explore a world of culinary creativity with our diverse recipes.'|translate}}
            {{'From'|translate}}
            {{'savory to sweet, embark on a flavorful journey with our detailed guides. Unleash your inner chef and savor'|translate}}
            {{'the'|translate}}
            {{'joy of creating delicious dishes in your own kitchen.'|translate}}
        </div>
    </div>


    <div class="content1-container">
        <div class="img2-container">
            <img
                src="https://images.pexels.com/photos/8859022/pexels-photo-8859022.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
            <div class="hidden-image"></div>
        </div>

        <div class="info1-container">
            <h2>{{'Why DishDiscovery?' | translate}}</h2>
            <ul>
                <li>{{'A platform for food enthusiasts.' | translate}}</li>
                <li>{{'Create and Share: Show off your cooking skills!share, explore, and celebrate the art of cooking.'
                    | translate}}</li>
                <li>{{'Search and Discover: Looking for inspiration? Search for recipes to try something new. Our platform is your go-to source for culinary exploration.' | translate}}</li>
                <!-- <li>{{'Receive comments and likes from others who appreciate your culinary creations.' | translate}}</li> -->
                <!-- <li>{{'Your digital kitchen is here.' | translate}}</li>
                <li>{{'Every dish is a discovery, and we invite you to be a part of this flavorful journey.' | translate}}</li> -->
            </ul>
        </div>

    </div>
    <div class="content2-container">

        <div class="info2-container">
            <h2>{{'Our Goal'|translate}}</h2>
            <ul>
                <li>{{'Our goal at DishDiscovery is to create a welcoming space for sharing recipes.'|translate}}</li>
                <li>{{'Our platform aims to make the process of finding, sharing, and exploring recipes simple and enjoyable.'|translate}}</li>

            </ul>
        </div>

        <div class="img3-container">
            <img
                src="https://images.pexels.com/photos/5986316/pexels-photo-5986316.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>

    </div>
</section>