<footer>
    <div class="footer-container">
        <div class="info">
            <span>
                {{'Discover engaging content, insightful articles, and diverse perspectives on our blog website. Explore topics that captivate and inspire your curiosity daily.' | translate}}
            </span>
        </div>
        <div class="social-icons">
            <a href="https://sparthoughtsworkspace.slack.com"><i class="fa-brands fa-slack"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/sparthoughts"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.youtube.com/watch?v=yS0glv9mbDg&ab_channel=Lavendaire"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footernav">
            <ul>

                <li><a href="">{{'Home'|translate}}</a></li>
                <li><a href="about">{{'About Us'|translate}}</a></li>
                <li><a href="profile">{{'Profile'|translate}}</a></li>
                <li><a href="create">{{'Create Recipe'|translate}}</a></li>
                <li><a href="search">{{'Search'|translate}}</a></li>
            </ul>
        </div>

    </div>
    <div class="footer-bottom">
        <p>Copyright &copy;2024; Designed By <span class="designer">Spartans</span></p>
    </div>
</footer>