<section>
    <div class="container">
        <div class="solid-bg">
            <div class="card">
                <div class="imgbox">
                    <img
                        src="https://images.unsplash.com/photo-1571091718767-18b5b1457add?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                </div>

                <div class="content">
                    <h2>{{'Nourish Your Body' | translate }}</h2>
                    <p>{{'Nourish your body with vibrant foods,' | translate }}
                        {{'and let the flavors of health dance on your palate.' | translate }}
                        {{'Eating well is not a task;' | translate }}
                        {{'it is a celebration' | translate }}
                        {{'of life and vitality.' | translate }}
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="imgbox">
                    <img
                        src="https://plus.unsplash.com/premium_photo-1679231521293-e13146411fb2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                </div>

                <div class="content">
                    <h2>{{'Best Food' | translate }}</h2>
                    <p>{{'Eat smart, move more, live well.' | translate }}
                        {{'Every bite is a choice, and every choice shapes your' | translate }}
                        {{'well-being. Prioritize health, relish nutritious bites,' | translate }}
                        {{'and savor the joy of a nourished life' | translate }}
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="imgbox">
                    <img
                        src="https://images.unsplash.com/photo-1625242661157-e9e5708ffe5e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                </div>

                <div class="content">
                    <h2>{{'keep Cooking' | translate }}</h2>
                    <p>
                        {{'Cook with passion, serve with pride;' | translate }}
                        {{'in the kitchen, where flavors collide.' | translate }}
                        {{'Create joy, share love,' | translate }}
                        {{'let every dish be a masterpiece from above.' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>