// .loader {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 90vh;
//   opacity: 0.7;
//   background-color: white;
// }

// .main {
//   display: flex;
//   gap: 3rem;
//   align-items: center;
//   justify-content: center;
//   text-align: center;

//   .container {
//     margin-top: 5rem;
//   }

// }

// .container {
//   width: 60%;
//   margin-right: 3.125rem;
//   padding: 0.6rem;
//   border-radius: 1rem;
//   padding-bottom: 2rem;
//   padding-right: 2.5rem;

//   form {
    
//     border-radius: 0.6rem;
//     margin-left: 2rem;

//     h1 {
//       padding: 10px;
//       margin-bottom: 20px;
//       text-align: center;
//       color: #000;
//       font-family: "Lexend", sans-serif;
//       font-size: 2.1875rem;
//       font-weight: 800;
//       line-height: normal;
//     }
//   }
// }

// label {
//   display: block;
//   margin-bottom: 0.3rem;
//   font-size: 1.6875rem;
//   font-family: 'Lexend';
//   padding: 1rem;
//   color: #000;
// }

// input {
//   padding: 0.4rem;
//   margin-bottom: 0.6px;
//   box-sizing: border-box;
//   border-radius: 0.6rem;
//   font-size: 1.25rem;
//   font-family: 'Lexend';
// }

// .recipetct {
//   width: 38rem;
//   height: 4rem;
// }

// .recipe-DIM {
//   height: 18rem;
//   width: 38rem;
//   padding: 1rem;
// }

// button {
//   margin-top: 1rem;
//   width: 8rem;
//   font-size: 1.5rem;
//   padding: 0.5rem;
//   border-radius: 0.3125rem;
//   background: #111;
//   color: white;
//   cursor: pointer;
// }

// textarea {
//   font-size: 1.25rem;
//   border-radius: 0.625rem;
//   box-shadow: #D3D3D3;
//   font-family: 'Lexend';
//   max-width: 100%;
//   width: 100%;
// }

// .error-message {
//   color: red;
//   font-size: 1rem;
//   margin-top: 5px;
// }

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.maincontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8rem;
}

.container {
  width: 60%;
  margin-right: 3.125rem;
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: #dad9d9;
  padding-bottom: 2rem;
  padding-right: 2.5rem;

  @media screen and (max-width: 1024px) {
    width: auto;
    margin-right: 0;
  }

  form {
    margin-left: 2rem;
    padding: 1.25rem;
    border-radius: 0.6rem;
    background-color: #dad9d9;

    h1 {
      margin-bottom: 20px;
      font-size: 2.1875rem;
    }
  }
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 1.6875rem;
  font-family: 'Lexend';
  padding: 1rem;
  color: #000;
}

input,
textarea {
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 0.6px;
  box-sizing: border-box;
  border-radius: 0.6rem;
  font-size: 1.25rem;
  font-family: 'Lexend';
}

.recipetct {
  height: 4rem;
}

.recipe-DIM {
  height: 18rem;
}

button {
  margin-top: 1rem;
  width: 8rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  background: #111;
  color: white;
  cursor: pointer;
}

.side-content {
  flex: 0 0 40%;
  padding: 1.25rem;
  background-color: #f8f8f8;
  border-radius: 0.9375rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1024px) {
    flex: 0 0 100%;
    margin-top: 2rem;
  }

  h2 {
    font-size: 1.875rem;
    margin-bottom: 15px;
  }

  #see {
    font-size: 1.7rem;
  }
}

.recipe-image-container img {
  width: 90%;
  max-height: 25rem;
  border-radius: 0.625rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  align-items: center;
  margin-bottom: 5px;
}

.recipe-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-image-container img:hover {
  transform: scale(0.9);
}

.recipe-image-container p {
  font-size: 1.25rem;
}

.recipe-details {
  font-size: 1.5625rem;
  margin-bottom: 3.125rem;
}

.side-content p {
  font-size: 1.875rem;
  margin-bottom: 10px;
  color: #000;
  font-family: "Abhaya Libre ExtraBold";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 1.25rem;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 5px;
}
