.main {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  .content {
    margin-top: 50vh;
    font-size: 20px;
  }

  button {
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.3125rem;
    background: #111;
    color: white;
    cursor: pointer;
  }
}
